body {
    font-family: 'MyCustomFont', sans-serif;
    font-size: 18px;
}
h1 {
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
}
h2 {
    font-size: 2rem;
}
p {
    font-size: 1.2rem;
}
.info-section {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}